* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: gray;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
#result {
    margin-top: 20px;
    font-size: 24px;
}



.marcador {
    width: 100%;
    display: flex;
  /* background-color: blue; */
  justify-content: center;
  }
  
  .grid {
    display: grid;
   grid-template-columns: repeat(5, 1fr); 
    gap: 2px;
    /* background-color: red; */
    max-width: 1000px;
  }
  
  .casillero {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .casillero img {
    width: 100%;
  }
  
  .casillero.seleccionado {
    background-color: #333;
    color: #fff;
  }